*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sm{
    padding-top: 10px;
}
#nc{
    color: #fff;
    padding: 20px;
}
#nc:hover{
   color:rgb(223, 134, 0);;
}
#menu{
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.2rem 1rem;
    line-height: 30px;
    color: #fff;
}
#menu:hover{
    background-color: #fff;
    color: #000;
}

.carousel-inner{
    max-height: 44vmax;
}
.carousel-inner > .item > img {
        margin: 0 auto;
        padding-top: 50px;
        object-fit: cover;
        object-position: center;
       }
.navbar{
        position:absolute;
        width:100%;
        z-index:10;
        max-width:100%;
  }
